.button {
  border-radius: var(--border-radius);
  padding: 8px 10px;
  border: none;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 2px 5px var(--black-color);
  transition: all 0.2s;
  color: var(--white-color);
  fill: var(--white-color);
  min-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:active {
  transition: all 0.2s;
  transform: translateY(2px);
  box-shadow: none;
}

.button:disabled {
  fill: var(--disabled-color-text);
  cursor: auto;
  box-shadow: none;
}

.button:disabled:active {
  transform: translateY(0);
}

.button.contained.primary {
  background-color: var(--primary-color);
}

.button.contained.error {
  background-color: var(--error-color);
}

.button.outlined.primary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  fill: var(--primary-color);
}

.button.outlined.error {
  border: 1px solid var(--error-color);
  color: var(--error-color);
  fill: var(--error-color);
}

.button.contained:disabled,
.button.outlined:disabled {
  background-color: var(--disabled-color);
  border: 1px solid var(--disabled-color);
  color: var(--disabled-color-text);
}

.button.outlined {
  background-color: transparent;
  box-shadow: none;
}
