.box {
  display: inline-flex;
  flex-direction: column-reverse;
}

.label {
  font-size: 14px;
  color: var(--disabled-color-text);
  margin-bottom: 2px;
}

.input {
  height: 40px;
  min-width: 250px;
  padding: 0 10px;
  border-radius: var(--border-radius);
  outline: none;
  border: 1px solid var(--black-color);
}

.input:disabled ~ .label {
  color: var(--disabled-color);
}

.input:disabled {
  border: 1px solid var(--disabled-color);
}

.input.primary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.input.error {
  border: 1px solid var(--error-color);
  color: var(--error-color);
}

.input.primary ~ .label {
  color: var(--primary-color);
}

.input.error ~ .label {
  color: var(--error-color);
}
